.PictureDisplay{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 300px;
    margin-left: 650px;
    margin-top: 0px;
    margin-bottom: 60px;
    border-bottom: ridge;
    border-color: rgb(116, 116, 116);
    border-radius: 2px;
}

.Image{
    width: 250px;
    height: 250px;
}

.btnChange{
    background-color: transparent;
    color: rgb(156, 115, 115);
    padding: 5px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    width: 180px;
    font-size: 20px;
}

.btnChange:hover{
    transition: all 0.3s ease-out;
    color: #242424;
    transition: 250ms;
}

.ProfileSection{
    width: 100%;
    display:flex ;
    flex-direction: row;
    align-items: center;
}

.PersonalFields{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}

.inputProfile{
    width: 300px;
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.labelProfile{
    font-size: 22px;
    padding-right: 10px;
}

.btnSave{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 250px;
    padding: 10px;
    margin-left: -250px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    padding: 10px;
}

.btnSave:hover{
    transition: all 0.3s ease-out;
    background: #fff;
    color: #546668;
    border-color: black;
    transition: 250ms;
}

.btnPass{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 250px;
    padding: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btnPass:hover{
    transition: all 0.3s ease-out;
    background: #fff;
    color: #546668;
    border-color: black;
    transition: 250ms;
}

.btnModif{
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1360px){
    .PictureDisplay{
        margin-left: 320px;
    }
}

@media screen and (max-width: 990px){
    .PictureDisplay{
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 2px;
    }

    .PersonalFields{
        margin-left: 20px;
    }

    .ProfileSection{
        flex-direction: column;
    }

    .btnSave{
        font-size: 20px;
        width: 180px;
        height: 50px;
        margin-left: -30px;
    }

    .btnPass{
        font-size: 20px;
        width: 180px;
        height: 50px;
    }
}